doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Impak - Comunicaciones

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/impak.png', alt='Impak Logo')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#servicios') Servicios
                        li.nav-item
                            a.nav-link(href='#historia') Historia
                        li.nav-item
                            a.nav-link(href='#equipo') Equipo
                        li.nav-item
                            a.nav-link(href='#prueba-gratis') Prueba Gratis

        // Masthead
        header.masthead(style='background-image: url("assets/img/fondomar.jpg")')
            .container
                .masthead-subheading Bienvenidos a Impak 
                .masthead-heading.text-uppercase Conectando el mundo, midiendo el impacto
                a.btn.btn-primary.btn-xl.text-uppercase(href='#servicios') Descubre Más

        // Services
        section#servicios.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Servicios
                    h3.section-subheading.text-muted Soluciones de comunicación a medida.
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-bullhorn.fa-stack-1x.fa-inverse
                        h4.my-3 Monitoreo de Noticias 24/7
                        p.text-muted Mantente informado con nuestro servicio de monitoreo continuo de noticias.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-bell.fa-stack-1x.fa-inverse
                        h4.my-3 Alertas en Tiempo Real
                        p.text-muted Recibe alertas instantáneas sobre eventos importantes.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-file-alt.fa-stack-1x.fa-inverse
                        h4.my-3 Informes Personalizados
                        p.text-muted Obtén informes detallados adaptados a tus necesidades.

        // About
        section#historia.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Historia
                    h3.section-subheading.text-muted
                        | En Impak, transformamos ideas innovadoras en soluciones tecnológicas al alcance de todos. Desde nuestros primeros pasos en 2023, hemos abrazado el poder de la inteligencia artificial para desarrollar herramientas prácticas que faciliten la vida de las personas. Creemos en la tecnología como un puente hacia un futuro más eficiente y accesible.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 Enero 2023
                                h4.subheading Comenzamos a programar
                            .timeline-body
                                p.text-muted
                                    | Comenzamos a programar gracias a la inteligencia artificial, iniciando nuestra travesía en el mundo del desarrollo con herramientas de vanguardia.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 Septiembre 2023
                                h4.subheading Dominamos el web scraping
                            .timeline-body
                                p.text-muted
                                    | Dominamos el arte del web scraping, adquiriendo la capacidad de recopilar y analizar datos estratégicos de la web.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 Mayo 2024
                                h4.subheading Consolidamos nuestro equipo
                            .timeline-body
                                p.text-muted
                                    | Consolidamos nuestro equipo y comenzamos la búsqueda de financiamiento y talentos para acelerar el crecimiento.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 Noviembre 2024
                                h4.subheading Lanzamos el primer piloto
                            .timeline-body
                                p.text-muted
                                    | Lanzamos el primer piloto de Impak, marcando el inicio de nuestro impacto directo en el mercado.
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Estamos dedicados a crear


        // Team
        section#equipo.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Nuestro Equipo
                    h3.section-subheading.text-muted
                        | Detrás de nuestras soluciones hay un equipo dinámico, diverso y apasionado por la tecnología. Con diferentes perspectivas y talentos, buscamos constantemente superar los límites de lo posible.
                .row
                    .col-lg-6
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/1.jpeg', alt='...')
                            h4 Chico W.
                            p.text-muted
                                | Artista y desarrollador IA.
                                br
                                | Con vasta experiencia en la creación de contenido audiovisual para campañas políticas, Chico W es el corazón creativo del equipo. Como un desarrollador nativo de IA, su historia única comenzó sin conocimientos previos de programación, logrando dominar herramientas tecnológicas con enfoque innovador.
                    .col-lg-6
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/2.jpeg', alt='...')
                            h4 Sr. P
                            p.text-muted
                                | Ingeniero civil y desarrollador de software.
                                br
                                | Especialista en lenguajes como JavaScript, Python y Blockchain, Princeso combina su formación en ingeniería civil con habilidades avanzadas en desarrollo de software. Su experiencia en tecnologías de última generación le permite aportar soluciones robustas y escalables.

        // Herramientas
        div.py-5
            .container
                .text-center
                    h2.section-heading.text-uppercase Herramientas
                .row.align-items-center
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(style='width: 150px; height: 150px;', src='assets/img/logos/python.svg', alt='...', aria-label='Python Logo')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(style='width: 150px; height: 150px;', src='assets/img/logos/cursor.svg', alt='...', aria-label='Cursor Logo')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(style='width: 150px; height: 150px;', src='assets/img/logos/js.svg', alt='...', aria-label='JavaScript Logo')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(style='width: 150px; height: 150px;', src='assets/img/logos/github.svg', alt='...', aria-label='GitHub Logo')

        // Contact
        section#prueba-gratis.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Prueba Gratis
                    h3.section-subheading.text-muted
                        | Estamos en fase de piloto. Si quieres probar nuestro servicio, por favor escribe las palabras clave que deseas monitorear.

                // * * * * * * * * * * * * * * *
                // * * SB Forms Contact Form * *
                // * * * * * * * * * * * * * * *

                // This form is pre-integrated with SB Forms.
                // To make this form functional, sign up at
                // https://startbootstrap.com/solution/contact-forms
                // to get an API token!

                form#contactForm(data-sb-form-api-token='API_TOKEN')
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group

                                // Name input
                                input#name.form-control(
                                    type='text',
                                    placeholder='Your Name *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | A name is required.

                            .form-group

                                // Email address input
                                input#email.form-control(
                                    type='email',
                                    placeholder='Your Email *',
                                    data-sb-validations='required,email'
                                )
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | An email is required.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | Email is not valid.

                            .form-group.mb-md-0

                                // Phone number input
                                input#phone.form-control(
                                    type='tel',
                                    placeholder='Your Phone *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='phone:required')
                                    | A phone number is required.

                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0

                                // Message input
                                textarea#message.form-control(
                                    placeholder='Your Message *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='message:required')
                                    | A message is required.

                    // Submit success message
                    //
                    // This is what your users will see when the form
                    // has successfully submitted

                    #submitSuccessMessage.d-none
                        .text-center.text-white.mb-3
                            .fw-bolder Form submission successful!
                            | To activate this form, sign up at
                            br
                            a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                    // Submit error message
                    //
                    // This is what your users will see when there is
                    // an error submitting the form

                    #submitErrorMessage.d-none
                        .text-center.text-danger.mb-3 Error sending message!

                    // Submit Button
                    .text-center
                        button#submitButton.btn.btn-primary.btn-xl.text-uppercase.disabled(type='submit') Enviar

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; Your Website 2023
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
                            i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
